{% extends "base.html" %}
{% block head %}
<link type="text/css" href="{{ url_for('location.static', filename='css/location.css') }}" rel="stylesheet">
{% endblock head %}
{% block body %}
<div id="main_block" class="container">
<div id="header_title" class="highlight_bkgnd text-center round_top">{{ page_title }}</div>
<div id="scrolling_container" class="scrolling_container text-center">
    <div id="current_location_view" class="m-2">
        <div id="title" class="header_value">Current Location</div>
        <div id="address">{{ address }}</div>
        <div id="city">{{ city }}, {{ state }}</div>
        <div id="country">{{ country }}</div>
        <div id="timezone">{{ timezone }}</div>
    </div>
    <div id="search_location" class=" table_value">
        <a href="search/{{ last_page }}"><button id="search_location_button" class="btn m-2">Search For New Location</button></a>
    </div>
</div>
{% endblock body %}
